@import '~bootstrap/scss/bootstrap';

// general rules
li {
    list-style: none;
}

a {
    text-decoration: none;
}

// header rules
.ms_top_header {
    background-color: #0282f9;
    height: 25px;

    .ms_ul_top_header {

        a {
            color: #ffffff;
            font-weight: 700;
            font-size: 13px;
        }
    }
}

.ms_bottom_header {
    height: 100px;

    .ms_active {
        color: #0282f9;
        border-bottom: solid 1px #0282f9;
    }

    #ms_logo {
        width: 60px;
        height: auto;
    }
}

// jumbotron rules
.ms_jumbotron {
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
    height: 300px;
}

// home rules
.ms_section_card {
    background-color: #1c1c1c;

    .ms_badges {

        background-color: #0282f9;
        width: fit-content;
        padding: 5px 25px;
        position: relative;
        top: -50px;

        h1 {
            font-size: 25px;
            font-weight: 600;
            color: #ffffff;
        }
    }

    .ms_card {
        height: fit-content;

        img {
            color: #ffffff;
            width: 100%;
        }

        a {
            color: #ffffff;
        }
    }

    .ms_btn_load_more {
        color: #ffffff;
        background-color: #0282f9;
        font-weight: 600;
        width: fit-content;
        margin: 0 auto;
        padding: 5px 30px;
    }
}

.ms_section_shortcuts {
    background-color: #0282f9;

    .ms_slot_shortcuts {

        .ms_shortcut_img {
            width: 40px;
            height: auto;
            margin-right: 10px;

            img {
                width: 100%;
            }
        }

        .ms_shortcut_text {
            a {
                color: #ffffff;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }


}

// product rules
.ms_top_bar_product {
    background-color: #0282f9;
    height: 60px;

    .ms_banner_product {
        width: 150px;
        height: auto;
        border: solid 1px #ffffff;
        position: relative;
        top: -180px;

        img {
            width: 100%;
            height: auto;
        }

        .ms_top_badges_banner,
        .ms_bottom_badges_banner {
            background-color: #00a9d9;
            color: #ffffff;
            font-size: 10px;
        }

        .ms_top_badges_banner {
            width: fit-content;
            padding: 2px 4px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .ms_bottom_badges_banner {
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.ms_desc_comic {

    .ms_title_comic {
        color: #003f5e;
        font-weight: 600;
    }

    .ms_buy_details {
        background-color: #55ba59;
        height: 50px;
        font-size: 14px;
    }

    p {
        color: #303030;
        font-weight: 600;
    }
}

.ms_ctn_publicity {
    h2 {
        font-size: 14px;
        color: #303030;
        font-weight: 600;
    }
}

.ms_section_details_comic {
    background-color: #f6f6f6;

    h4,
    h6 {
        color: #003f5e;
        font-weight: 600;
    }

    h4 {
        padding-bottom: 30px;
        border-bottom: solid 1px #959595;
    }

    h6 {
        font-size: 14px;
    }

    .ms_slot_info {
        border-bottom: solid 1px #959595;
    }
}

// footer rules
.ms_top_footer {
    background-image: url('/resources/img/footer-bg.jpg');
    background-size: cover;
    height: fit-content;

    .ms_container_menu {

        height: 300px;

        h4 {
            font-weight: 600;
            font-size: 18px;
            color: #ffffff;
        }

        ul {
            padding: 0;

            li {
                color: #959595;
                font-size: 14px;
            }
        }
    }

    .ms_ctn_copyright {
        p {
            color: #959595;
            font-size: 13px;
        }
    }

    .ms_ctn_big_logo {
        background-image: url('/resources/img/dc-logo-bg.png');
        background-size: cover;
    }
}

.ms_bottom_footer {
    background-color: #303030;
    height: 80px;

    .ms_btn_footer {
        background-color: initial;
        border-radius: 0;
        font-weight: 600;
    }

    .ms_ctn_social {
        h4 {
            color: #0282f9;
            font-size: 20px;
            font-weight: 600;
        }
    }
}